<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">


    <display-name>codecentric TDD Training application (based on Myers triangles)</display-name>

    <env-entry>
        <description>The following defects can be introduced (unit,integration,functional)</description>
        <env-entry-name>defects</env-entry-name>
        <env-entry-value>unit,integration,functional</env-entry-value>
    </env-entry>

</web-app>
